DATABASE_URL=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=



CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLIENT_URL=

GEMINI_API_KEY=

STRIPE_SECRET_KEY=